.navbar-custom {
  background-color: #97bd00;
  border-color: #7d9c00;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#c0f000), to(#97bd00));
  background-image: -webkit-linear-gradient(top, #c0f000, 0%, #97bd00, 100%);
  background-image: -moz-linear-gradient(top, #c0f000 0%, #97bd00 100%);
  background-image: linear-gradient(to bottom, #c0f000 0%, #97bd00 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0f000', endColorstr='#ff97bd00', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #545454;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #3b3b3b;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #545454;
}
.navbar-custom .navbar-nav > li > a {
  color: #545454;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #7d9c00;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#7d9c00), to(#a5cf00));
  background-image: -webkit-linear-gradient(top, #7d9c00, 0%, #a5cf00, 100%);
  background-image: -moz-linear-gradient(top, #7d9c00 0%, #a5cf00 100%);
  background-image: linear-gradient(to bottom, #7d9c00 0%, #a5cf00 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7d9c00', endColorstr='#ffa5cf00', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #7a9900;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #7d9c00;
  color: #ffffff;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #545454;
  border-bottom-color: #545454;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #545454;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #7d9c00;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #545454;
}
.navbar-custom .navbar-link:hover {
  color: #ffffff;
}

.cc  label{
float: left;
margin-left: 15%;
background-color: rgba(0,0,0,0.9);
height: 100%;
width: 20%;
color: white;
z-index: 9999;
text-align: center;
}


.c2{

    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.5) 100%), url(http://pre00.deviantart.net/263f/th/pre/f/2012/123/5/a/a_forest_by_blinck-d4yepov.jpg);
    
}
.c3{

    background: linear-gradient(to bottom, rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.5) 100%), url(http://img10.deviantart.net/9a2d/i/2004/159/e/7/school.jpg);
 
}


.gg p {
    color: white;
    padding: 1%;
    

}

h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}

.item{    
    text-align: center;
    height: 500px !important;
}
.carousel{
    margin-top: 0px;
}
.bs-example{
    margin: 0px;
}
